/projects/*/.milkio

/projects/test-bun/code
/projects/test-bun/config
/projects/test-bun/context
/projects/test-bun/controller
/projects/test-bun/drizzle
/projects/test-bun/event
/projects/test-bun/handler
/projects/test-bun/module

/projects/test-deno/code
/projects/test-deno/config
/projects/test-deno/context
/projects/test-deno/controller
/projects/test-deno/drizzle
/projects/test-deno/event
/projects/test-deno/handler
/projects/test-deno/module

/packages/cookbook/src/ui/www
node_modules
.DS_Store
*.old
dist

.edgeone
.edgeone/*
.tef_dist/*
.platform-*
.database-*