/projects/*/.milkio

/projects/test-bun/app
/projects/test-bun/drizzle
/projects/test-bun/public
/projects/test-deno/app
/projects/test-deno/drizzle
/projects/test-deno/public

/packages/cookbook/src/ui/www
node_modules
.DS_Store
*.old
dist

.edgeone
.edgeone/*
.tef_dist/*
.platform-*
.database-*