:root {
  --c-brand: #1890ff;
}

[class*='language-'] {
  line-height: 1 !important;
}

[class*='language-'] code {
  color: #e06c75;
}

span.token.keyword {
  color: #c678dd;
}

span.token.string {
  color: #98c379;
}

span.token.key.atrule {
  color: #c678dd;
}

#global-loading {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: 120ms ease-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

#global-loading.disabling {
  animation: global-loading--disabling 240ms ease-out forwards;
  animation-delay: 520ms;
}

#global-loading.disabling-reverse {
  animation: global-loading--disabling 240ms ease-out forwards;
  animation-direction: reverse;
  animation-delay: 520ms;
}

#global-loading.disabled {
  display: none;
}

@keyframes global-loading--disabling {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#global-loading > img {
  width: 128px;
  height: 128px;
}

#global-loading--progress {
  position: relative;
  display: block;
  width: 80px;
  height: 4px;
  overflow: hidden;
  background-color: rgba(26, 93, 253, 0.24);
  border-radius: 999px;
  margin-bottom: 48px;
}

#global-loading--progress-indeterminate {
  background-color: rgba(26, 93, 253, 0.72);
}

#global-loading--progress-indeterminate::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 999px;
  background-color: inherit;
  animation: global-loading--progress-indeterminate 1200ms linear infinite;
  will-change: left, width;
}

#global-loading--progress-indeterminate::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 999px;
  background-color: inherit;
  animation: global-loading--progress-indeterminate-short 1200ms linear infinite;
  will-change: left, width;
}

@keyframes global-loading--progress-indeterminate {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 32%;
    width: 80%;
  }
  75% {
    left: 100%;
    width: 0;
  }
}

@keyframes global-loading--progress-indeterminate-short {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 0;
  }
  75% {
    left: 0;
    width: 40%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
