name: release on main

on:
  push:
    branches: [master]

concurrency:
  group: release-main
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read

jobs:
  publish_packages:
    name: publish node packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install dependencies
        run: bun install
        
      - name: build .milkio
        run: bun run co generate
        env:
            COOKBOOK_MODE: "test"

      - name: publish packages
        run: bun run .commands/scripts/ci/publish-ci.ts


  